.postItem {
  font-size: 18px;
  padding: 20px 0;
}

.postAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.postLikes {
  display: inline-block;
  margin-left: 50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(8, 99, 99);
  color: rgb(8, 99, 99);
  text-align: center;
}
