.postCreate {
  padding: 20px;
  border-bottom: 1px solid #edeff1;
}

.postInput {
  margin-top: 30px;
  border: 0 none;
  border-bottom: 2px solid #edeff1;
}

.errorMessage {
  color: red;
}

.postBtn {
 padding-top: 10px;
}

