.userAvatar {
  display: block;
  max-width: 250px;
  border-radius: 7px;
}

.avatar {
  border-radius: 50%;
}

.btns {
  position: relative
}

.uploadBtn {
  position: absolute;
  content: '';
  cursor: pointer;
  color: #228be6; 
  bottom: 30px;
  right: 0px; 
}

.editBtn {
  width: 100%;
  margin-top: 10px;
  border-radius: 7px;
}