.sidebar {
  grid-area: sidebar;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 5px;
}

.sidebar__item {
  padding-left: 20px;
  padding-top: 20px;
}

.sidebar__link {
  font-size: 20px;
  color: rgb(71, 71, 71);
}
