.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "sidebar main main";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 3fr 9fr;

  max-width: 1260px;
  margin: 0 auto;
}
