@import '~antd/dist/antd.css';

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("./assets/fonts/Raleway-Bold.ttf") format("ttf");
  src: url("./assets/fonts/Raleway-Light.ttf") format("ttf");
  src: url("./assets/fonts/Raleway-Medium.ttf") format("ttf");
  src: url("./assets/fonts/Raleway-Thin.ttf") format("ttf");
}

.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "sidebar main main";
  grid-template-rows: 75px 5fr;
  grid-template-columns: 2fr 10fr;

  max-width: 1260px;
  height: 100vh;
  margin: 0 auto;
  /* background-color: #edeef0; */
}

.conatiner-content {
  grid-area: main;
}
